<ion-grid class="ion-padding-horizontal">
  <ion-row>
    <ion-col>
      <div>
        <h3>About Us</h3>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="ion-text-justify">Metamu is a Mobile Application created by Metamu Team. Metamu is created for Hybrid Mobile Programming Class Final Exam.</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
        <ion-icon name="logo-angular"></ion-icon>
        <ion-icon name="logo-ionic"></ion-icon>
        <ion-icon name="logo-stackoverflow"></ion-icon>
  </ion-row>
</ion-grid>
