<ion-card *ngFor="let post of posts; let i = index" [ngStyle]="{'margin':'1.2rem', 'padding':'0'}">
    <ion-card-content [ngStyle]="{'margin':'0', 'padding':'0'}">
        <!-- Header section -->
        <div [ngStyle]="{'display':'flex', 'flex-direction': 'row', 'padding':'10px'}">
            <div [ngStyle]="{'width':'13%'}">
                <ion-img src="https://ubaya.fun/hybrid/160419051/metamu/profiles/{{ post.user_photo }}" [ngStyle]="{'width':'100%'}" class="post-profile-photo" routerLink='/user/{{ post.user_id }}'></ion-img>
            </div>
            <div [ngStyle]="{'width':'82%', 'display':'flex', 'flex-direction': 'column', 'justify-content':'center', 'padding-left':'10px'}">
                <div [ngStyle]="{'font-weight':'bold'}"><span routerLink='/user/{{ post.user_id }}'>{{ post.user_id }}</span></div>
                <div *ngIf="post.post_location != null">{{ post.post_location }}</div>
            </div>
            <div [ngStyle]="{'width':'5%', 'display':'flex', 'flex-direction': 'column', 'justify-content':'center', 'position':'relative'}">
                <ion-icon name="ellipsis-vertical-outline" (click)="presentActionSheet(i)"></ion-icon>
            </div>
        </div>

        <!-- Image section -->
        <ion-img src="https://ubaya.fun/hybrid/160419051/metamu/posts/{{ post.post_photo }}" routerLink='/user/{{ post.user_id }}/post/{{ post.post_id }}' [ngStyle]="{'margin':'0.2rem 0'}"></ion-img>
        
        <!-- Bottom section -->
        <div [ngStyle]="{'display':'flex', 'flex-direction': 'row', 'padding':'15px 10px'}">
            <div [ngStyle]="{'width':'13%', 'display':'flex', 'justify-content':'center', 'align-items':'center'}">
                <ion-img *ngIf="post.like_status > 0" src="https://ubaya.fun/hybrid/160419051/metamu/icons/like_fill.png" [ngStyle]="{'width':'60%'}" (click)="changeLikeStatus(i)"></ion-img>
                <ion-img *ngIf="post.like_status == 0" src="https://ubaya.fun/hybrid/160419051/metamu/icons/like.png" [ngStyle]="{'width':'60%'}" (click)="changeLikeStatus(i)"></ion-img>
            </div>
            <div [ngStyle]="{'width':'37%', 'display':'flex', 'align-items':'center', 'padding-left':'3px', 'font-weight':'bold'}">
                {{ post.post_likes }} likes
            </div>
            <div [ngStyle]="{'width':'50%', 'display':'flex', 'align-items':'center', 'justify-content':'flex-end', 'padding-right':'10px', 'font-weight':'bold'}">
                {{ post.post_time }}
            </div>
        </div>
    </ion-card-content>
</ion-card>