<ion-img src="{{ foto }}" [ngStyle]="{'width':'60%' }" class="post-profile-photo"></ion-img>
<ion-button expand="block" (click)="openGallery()" class="ion-margin-horizontal">Change Profile</ion-button> <br>
<ion-button expand="block" fill="outline" (click)="openResetModal()" class="ion-margin-horizontal">Reset Password</ion-button>
<!-- <div class="fileUpload btn btn-primary">
  <span>Upload</span>
  <input type="file" class="upload" />
</div> -->

<ion-item>
  <ion-label position="floating">Nama</ion-label>
  <ion-input [(ngModel)]="nama"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Biodata</ion-label>
  <ion-input [(ngModel)]="bio"></ion-input>
</ion-item>

<!-- <ion-item>
  <ion-label position="floating">Gender</ion-label>
  <ion-input [(ngModel)]="gender"></ion-input>
</ion-item> -->

<ion-item>
  <ion-label>Gender</ion-label>
  <ion-select [(ngModel)]="gender">
    <ion-select-option value="Female">Female</ion-select-option>
    <ion-select-option value="Male">Male</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating">Birth Date</ion-label>
  <ion-datetime [(ngModel)]="birth" ></ion-datetime>
</ion-item>

<ion-button expand="block" (click)="update()" class="ion-margin-horizontal">Save</ion-button>