<ion-content>
    <ion-grid>
        <!-- Gambar -->
        <ion-row [ngStyle]="{'display':'flex', 'justify-content':'center', 'margin-top':'10px'}">
            <ion-col *ngIf="photo" size="11" [ngStyle]="{'display':'flex', 'justify-content':'center', 'align-items':'center','min-height':'200px', 'background': '#111111'}">
                <ion-img src="{{ photo }}" class="post-profile-photo"></ion-img>
            </ion-col>
            <ion-col size="11" [ngStyle]="{'display':'flex', 'justify-content':'center', 'align-items':'center', 'background': '#111111', 'padding':'15px 0'}">
                <span (click)="openGallery()" [ngStyle]="{'font-weight':'500','color':'#0275d8'}">Add post photo</span>
            </ion-col>
        </ion-row>

        <!-- Caption -->
        <ion-row [ngStyle]="{'margin-bottom':'10px','display':'flex', 'justify-content':'center'}">
            <ion-col size="11">
                <ion-textarea placeholder="Add caption" rows="4" [ngStyle]="{'font-size':'14px','line-height':'1.3rem', 'background':'#181818', 'padding':'10px'}" [(ngModel)]="caption"></ion-textarea>
            </ion-col>
            <ion-col size="11">
                <ion-textarea placeholder="Add location" rows="1" [ngStyle]="{'font-size':'14px','line-height':'1.3rem', 'background':'#181818', 'padding':'10px'}" [(ngModel)]="location"></ion-textarea>
            </ion-col>
        </ion-row>

        <!-- Button -->
        <ion-row [ngStyle]="{'display':'flex', 'justify-content':'center'}">
            <ion-col size="11">
                <ion-button expand="block" [ngStyle]="{'text-transform':'capitalize', 'letter-spacing':'0px', 'font-size':'16px'}" (click)="createPost()">Create Post</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>