.post-profile-photo {
    border-radius: 100% !important;
    overflow: hidden;
}

ion-col {
    text-align: center;
    font-size: 15px;
}

.bold {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 18px;
}

.personal-data {
    text-align: left;
    padding: 5px 15px;
}