.post-profile-photo {
    border-radius: 100% !important;
    overflow: hidden;
}

ion-col {
    text-align: center;
    font-size: 15px;
}

.bold {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 18px;
}

.personal-data {
    font-size: 14px
}

.btn-edit {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0;
}