<ion-item>
  <ion-input type='test' placeholder="search account" [(ngModel)]="keyword" (change)="search()"></ion-input>
</ion-item>
<div *ngIf= "resultLengh == 0">
  <p>aaa</p>
  <!-- <div *ngFor="let user of result; let i = index">
    <ion-col size="2" [ngStyle]="{'display':'flex', 'justify-content':'center', 'align-items': 'flex-start'}">
      <ion-img src="https://ubaya.fun/hybrid/160419051/metamu/profiles/{{ user.photo }}" routerLink="/user/{{ user.username }}" class="post-profile-photo" [ngStyle]="{'margin':'0.2rem 0', 'width':'80%'}"></ion-img>
    </ion-col>
    <ion-col size="10" [ngStyle]="{'padding-top':'10px'}">
        <div [ngStyle]="{'line-height':'1.2rem', 'font-size':'14px'}">
            <span routerLink="/user/{{ user.username }}" [ngStyle]="{'font-weight':'bold'}">{{ user.username }}</span>
        </div>
    </ion-col>
  </div> -->
</div>