<ion-item>
  <ion-label position="floating">Nama</ion-label>
  <ion-input [(ngModel)]="nama"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input [(ngModel)]="username"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Re-Password</ion-label>
  <ion-input type="password" [(ngModel)]="re_pass"></ion-input>
</ion-item>

<ion-button expand="block" (click)="register()" class="ion-margin-horizontal"
  >Save</ion-button
>
<ion-chip *ngIf="register_error">{{ register_error }}</ion-chip>

<ion-item>
  <ion-label routerLink="/login" class="ion-text-center"
    >Already have Account? Login Here!</ion-label
  >
</ion-item>
